#contenedor {
    background-color: blue;
    padding: 15px;
    width: fit-content;
}

.casilla {
    background-color: white;
    height: 75px;
    width: 75px;
    margin: 5px;
    border-radius: 100px;
}

a :hover {
    background-color: rgb(197, 197, 197);
}

.casillaJ1 {
    background-color: red;
    height: 75px;
    width: 75px;
    margin: 5px;
    border-radius: 100px;
}

.casillaJ2 {
    background-color: yellow;
    height: 75px;
    width: 75px;
    margin: 5px;
    border-radius: 100px;
}

#cuadroMensaje {
    width: fit-content;
    font-size: 30px;
    font-weight: bolder;
    margin-left: 220px;
}